{% extends 'base.html' %}
{% load static %}
{% block base %}
<section class="activate min-vh-100" style="background: #17202A;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="introduce my-5">
                    <h2 class="text-center text-white">Activate Your Account</h2>
                    <p class="text-center text-white">Enter your email and the secret code sent to your email to
                        activate your
                        account </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'alerts.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="activateForm">
                    <form action="{% url 'verifyRequest' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label class="form-label text-white">Your Email</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="mb-2">
                            <label class="form-label text-white">Secret Code</label>
                            <input type="text" class="form-control" name="secret" required>
                        </div>
                        <button type="submit" class="btn button-87 w-100">Activate Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>

{% endblock %}