<header class="header_area" id="header">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <nav class="h-100 navbar navbar-expand-lg">
                    <a class="navbar-brand" href="#">
                        <img src="../../static/img/core-img/log2.jpg" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav"
                        aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span
                            class="fa fa-bars"></span></button>
                    <div class="collapse navbar-collapse justify-content-end" id="dorneNav">
                        <ul class="navbar-nav mr-auto" id="dorneMenu">
                            <!-- <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link sign-inLink" href="#">Sign in or Register <i class="las la-user-lock"
                                        style="font-size: 1rem;"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>