{% extends 'base.html' %}
{% load static %}
{% block base %}
<script src="../../static/js/currency.js"></script>
<div class="container-fluid height-700 bg-img bg-overlay"
    style="background-image: url(../../static/img/bg-img/meeting-1177454_1920.jpg);">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>
<section class="section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 card-wrapper">
                <div class="single-listing-content">
                    {% include 'alerts.html' %}
                    <div class="listing-title">
                        <ol class="breadcrumb d-flex justify-content-end">
                            <li class="breadcrumb-item"><a href="{% url 'reserve' %}" class="breadcrumbs text-danger"><i
                                        class="fa fa-home"></i>
                                    Back</a>
                            </li>
                            <li class="breadcrumb-item "><span class="breadcrumbs text-muted">
                                    {{reservation.Service_Requred}} <span class="brs">{{reservation.No_}}</span>
                                </span></li>
                        </ol>
                        <h4>{{reservation.Service_Requred}} Booking </h4>
                        <h6><span class="text-success">Status: </span>
                            {% if reservation.Booking_Status == 'Open' %}
                            Reserved
                            {% else %}
                            Booked
                            {% endif %}
                        </h6>
                    </div>
                    <div class="single-listing-nav">
                        <nav>
                            <ul id="listingNav">
                                <li class="active"><a href="#overview">Booking Overview</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="overview-content mt-3" id="overview">
                        <div class="row">
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <img src="../../static/img/icons/check-mark.png" height="20" width="20"
                                        class="img-fluid" alt="">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Organization: <span
                                            class="brs">{{reservation.Organization}}</span></span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <img src="../../static/img/icons/check-mark.png" height="20" width="20"
                                        class="img-fluid" alt="">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Type of Service: <span
                                            class="brs">{{reservation.Service_Requred}}</span></span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <img src="../../static/img/icons/schedule.png" height="20" width="20"
                                        class="img-fluid" alt="">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Document Date: <span
                                            class="brs">{{reservation.Document_Date}}</span></span>

                                </label>
                            </div>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <img src="../../static/img/icons/check-mark.png" height="20" width="20"
                                        class="img-fluid" alt="">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Mode of Payment: <span
                                            class="brs">{{reservation.Mode_Of_Payment}}</span></span>

                                </label>
                            </div>

                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <img src="../../static/img/icons/schedule.png" height="20" width="20"
                                        class="img-fluid" alt="">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Payment Due Date: <span
                                            class="brs">{{reservation.Payment_Due_Date}}</span></span>

                                </label>
                            </div>

                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <img src="../../static/img/icons/check-mark.png" height="20" width="20"
                                        class="img-fluid" alt="">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Type of Client: <span
                                            class="brs">{{reservation.Type_Of_Client}}</span></span>
                                </label>
                            </div>

                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    {% if reservation.Booking_Status == 'Open' %}
                                    <img src="../../static/img/icons/booking.png" height="20" width="20"
                                        class="img-fluid" alt="">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Booking Status: <span
                                            class="brs">Reserved</span></span>
                                    {% else %}
                                    <img src="../../static/img/icons/calendar.png" height="20" width="20"
                                        class="img-fluid" alt="">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Booking Status: <span
                                            class="brs">Booked</span></span>
                                    {% endif %}
                                </label>
                            </div>

                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    {% if reservation.Service_Requred == 'Meeting Room' %}
                                    <img src="../../static/img/icons/money.png" height="20" width="20" class="img-fluid"
                                        alt="">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Total Payable: <span
                                            class="brs Room_Booking_Total_Amount"></span></span>
                                    {% elif reservation.Service_Requred == 'Accommodation' %}
                                    <img src="../../static/img/icons/money.png" height="20" width="20" class="img-fluid"
                                        alt="">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Total Payable: <span
                                            class="brsn Accomodation_Total_Amount"></span></span>
                                    {% elif reservation.Service_Requred == 'Meeting Room And Accommodation' %}
                                    <img src="../../static/img/icons/money.png" height="20" width="20" class="img-fluid"
                                        alt="">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Total Payable: <span
                                            class="brs Total_Amount_Payable"></span></span>
                                    {% endif %}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="accordion" class="accordion-style">
                                    {% if reservation.Booking_Status == 'Open' %}
                                    <!-- <div class="card mb-3">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="false"
                                                    aria-controls="collapseOne">
                                                    Modify Booking Request
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                            data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <form action="{% url 'BookingGateway' reservation.No_ %}"
                                                            method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="myAction" value="modify">
                                                            <input type="hidden" name="bookingNo"
                                                                value="{{reservation.No_}}">
                                                            <input type="hidden" name="disabled"
                                                                value="{{reservation.Disability}}">
                                                            <input type="hidden" name="explainDisability"
                                                                value="{{reservation.Disability_Special_Needs_Description}}">
                                                            <input type="hidden" name="allergies"
                                                                value="{{reservation.Indicate_Allergies}}">
                                                            <input type="hidden" name="explainAllergies"
                                                                value="{{reservation.Explain_Allergies}}">
                                                            <div class="row gx-2 my-3">
                                                                <div class="col-md-6">
                                                                    <label for="" class="form-label">Client Type</label>
                                                                    <select class="form-select" name="clientType">
                                                                        <option selected disabled value="0">--Select
                                                                            Client Type--</option>
                                                                        <option value="1">Private</option>
                                                                        <option value="2">Public</option>
                                                                        <option value="3">Foreign</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label for="" class="form-label">Type of
                                                                        Service</label>
                                                                    <select class="form-select" name="typeOfService"
                                                                        id="typeOfService"
                                                                        aria-label="Default select example">
                                                                        <option selected disabled value="0">--Select
                                                                            Type of Service--</option>
                                                                        <option value="1">Meeting Room</option>
                                                                        <option value="2">Accommodation</option>
                                                                        <option value="3">Meeting Room and Accommodation
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <button class="btn button-87" type="submit">Modify</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    {% endif %}
                                    {% if reservation.Service_Requred == 'Meeting Room' %}
                                    {% include 'meetingDetails.html' %}
                                    {% elif reservation.Service_Requred == 'Accommodation' %}
                                    {% include 'accomDetails.html' %}
                                    {% elif reservation.Service_Requred == 'Meeting Room And Accommodation' %}
                                    {% include 'meetingDetails.html' %}
                                    {% include 'accomDetails.html' %}
                                    {% endif %}
                                    {% if reservation.Disability_Special_Needs == True %}
                                    <div class="card mb-3">
                                        <div class="card-header" id="disabilityHeading">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#disabilityOne" aria-expanded="false"
                                                    aria-controls="disabilityOne">
                                                    Disability/Special Needs Details
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="disabilityOne" class="collapse" aria-labelledby="disabilityHeading"
                                            data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p>{{reservation.Disability_Special_Needs_Description}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if reservation.Indicate_Allergies == True %}
                                    <div class="card mb-3">
                                        <div class="card-header" id="disabilityHeading">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#disabilityOne" aria-expanded="false"
                                                    aria-controls="disabilityOne">
                                                    Allergy Details
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="disabilityOne" class="collapse" aria-labelledby="disabilityHeading"
                                            data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p>{{reservation.Explain_Allergies}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 card-wrapper">
                <div class="opening-hours-widget mt-30">
                    <h6>Payments</h6>
                    <ul class="opening-hours">
                        <li>
                            <p>Total Amount</p>
                            <p class="text-dark">
                                {% if reservation.Service_Requred == 'Meeting Room' %}
                                <span class="Room_Booking_Total_Amount">KES ---.--</span></p>
                            {% elif reservation.Service_Requred == 'Accommodation' %}
                            <span class="Accomodation_Total_Amount">KES ---.--</span></p>
                            {% else %}
                            <span class="Total_Amount_Payable">KES ---.--</span></p>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                {% if reservation.Booking_Status == 'Open' %}
                <div class="book-a-table-widget mt-0">
                    <h6>Make Payment</h6>
                    <form action="{% url 'Pay' reservation.No_  %}" method="POST" class="mt-5">
                        {% csrf_token %}
                        <div class="row">
                            {% if reservation.Service_Requred == 'Meeting Room' %}
                            <input type="hidden" name="amount" value="{{reservation.Room_Booking_Total_Amount}}"
                                disabled>
                            {% elif reservation.Service_Requred == 'Accommodation' %}
                            <input type="hidden" name="amount" value="{{reservation.Accomodation_Total_Amount}}"
                                disabled>
                            {% else %}
                            <input type="hidden" name="amount" value="{{total_payable}}" disabled>
                            {% endif %}
                            <input type="hidden" name="account_reference" value="KEPHIS ROOM RESERVATION" disabled>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="phone_number"
                                    placeholder="Enter Your Number">
                                <button type="submit" class="button-87  w-100 my-3">Pay
                                    {% if reservation.Service_Requred == 'Meeting Room' %}
                                    <span class="Room_Booking_Total_Amount">KES ---.--</span>
                                    {% elif reservation.Service_Requred == 'Accommodation' %}
                                    <span class="Accomodation_Total_Amount">KES ---.--</span>
                                    {% else %}
                                    <span class="Total_Amount_Payable">KES ---.--</span>
                                    {% endif %}
                                </button>
                            </div>
                    </form>

                </div>
                {% else %}
                <div class="book-a-table-widget mt-0 my-handle">
                    <h6> Date and Time </h6>
                    <form class="mt-2">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="2022-10-10 10:15 pm" disabled>
                            </div>
                    </form>

                </div>
                {% endif %}
            </div>
            {% if reservation.Service_Requred == 'Meeting Room' and reservation.Booking_Status == 'Open' %}
            <a href="#" type="button" class="btn button-5  w-100 my-3" data-bs-toggle="modal"
                data-bs-target="#newMeetingLine">Add Meeting Details<i class="las la-plus mx-2"
                    style="font-size:1.5rem"></i></a>
            {% elif reservation.Service_Requred == 'Accommodation' and reservation.Booking_Status == 'Open' %}
            <a href="#" type="button" class="btn button-5  w-100 my-3" data-bs-toggle="modal"
                data-bs-target="#newAccomoLine">Add Accommodation Details<i class="las la-plus mx-2"
                    style="font-size:1.5rem"></i></a>
            {% elif reservation.Service_Requred == 'Meeting Room And Accommodation' and reservation.Booking_Status == 'Open' %}
            <a href="#" type="button" class="btn button-5  w-100 my-3" data-bs-toggle="modal"
                data-bs-target="#newMeetingLine">Add Meeting Details<i class="las la-plus mx-2"
                    style="font-size:1.5rem"></i></a>
            <a href="#" type="button" class="btn button-5  w-100 my-3" data-bs-toggle="modal"
                data-bs-target="#newAccomoLine">Add Accommodation Details<i class="las la-plus mx-2"
                    style="font-size:1.5rem"></i></a>
            {% endif %}
            {% if reservation.Booking_Status == 'Open' %}
            <a href="#" type="button" class="btn button-5  w-100 my-3" data-bs-toggle="modal"
                data-bs-target="#disabilityDetails">Add Disability/Special Needs<i class="las la-plus mx-2"
                    style="font-size:1.5rem"></i></a>
            <!-- <a href="#" type="button" class="btn button-5  w-100 my-3" data-bs-toggle="modal"
                data-bs-target="#allergyDetails">Add Allergy Details<i class="las la-plus mx-2"
                    style="font-size:1.5rem"></i></a> -->
            {% endif %}
            <a href="{% url 'reserve' %}" type="button" class="btn btn-warning button-5  w-100 my-3">Go Back
                <i class="las la-undo-alt mx-2" style="font-size:1.5rem"></i></a>
        </div>
    </div>
    <!-- Modals -->
    <div class="modal fade" id="cancelModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white">Cancel Process <i
                            class="las la-exclamation-circle text-danger"></i></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want to cancel process? All your data will be <span class="text-danger">Deleted</span>!

                    <button type="button" class="btn button-0 my-3" data-bs-dismiss="modal"
                        style="display: inline-block">Discard <i class="las la-window-close mx-2"
                            style="font-size:1.5rem"></i></button>
                    <form action="" method="post" style="display: inline-block">

                        <button type="submit" class="btn btn-primary my-3 button-5">Confirm <i
                                class="las la-trash-alt mx-2" style="font-size:1.5rem"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="newMeetingLine" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Meeting Details</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'MeetingDetails' reservation.No_ %}" class="px-2" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="bookingNo" value="{{reservation.No_}}">
                        <input type="hidden" name="lineNo" value="0">
                        <input type="hidden" name="myAction" value="insert">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="" class="form-label">Type of
                                    Room</label>
                                <select class="form-select" name="TypeOfRoom" aria-label="Default select example">
                                    <option selected disabled value="0">--Select
                                        Type of Room--</option>
                                    {% for room in availableRooms %}
                                    <option value="{{room.Code}}">{{room.RoomName}}
                                        (Capacity-{{room.RoomCapacity}})
                                    </option>
                                    {% empty %}
                                    <option value="0">There are no available rooms
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-12">
                                <label for="" class="form-label">Service
                                    Required</label>
                                <select class="form-select" aria-label="Default select example" name="ServiceRequired"
                                    id="ServiceRequired">
                                    <option selected disabled value="0">--Select
                                        Service Required--</option>
                                    {% for meeting_services in meeting_services %}
                                    <option value="{{meeting_services.No}}">
                                        {{meeting_services.ServiceDescription}}</option>
                                    {% empty %}
                                    <option selected disabled value="0">--No Service--</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-6">
                                <label for="" class="form-label">Number of
                                    People</label>
                                <input type="number" class="form-control" name="NumberOfPeople" id="NumberOfPeople"
                                    min="1">
                            </div>
                            <div class="col-md-6">
                                <label for="" class="form-label">Start Date</label>
                                <input type="date" class="form-control" name="startDate" id="startDate">
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Number of Days</label>
                                <input type="number" class="form-control" name="NumberOfDays" min="1">
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-6">
                                <label for="" class="form-label">Start Time</label>
                                <input type="time" class="form-control" name="startTime" id="startTime">
                            </div>
                            <div class="col-md-6">
                                <label for="" class="form-label">End Time</label>
                                <input type="time" class="form-control" name="endTime" id="endTime">
                            </div>
                        </div>
                        <button type="submit" class="button-87  w-100 my-3"> Make Reservation
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="newAccomoLine" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Accomodation Details</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'AccomodationDetails' reservation.No_ %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="bookingNo" value="{{reservation.No_}}">
                        <input type="hidden" name="lineNo" value="0">
                        <input type="hidden" name="myAction" value="insert">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="" class="form-label">Service
                                    Required</label>
                                <select class="form-select" aria-label="Default select example" name="ServiceRequired">
                                    <option selected disabled value="0">--Select
                                        Service Required--</option>
                                    {% for service in accom_services %}
                                    <option value="{{service.No}}">
                                        {{service.ServiceDescription}}</option>
                                    {% empty %}
                                    <option selected disabled value="0">--No Service--</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label for="" class="form-label">Number of
                                    Rooms</label>
                                <input type="number" class="form-control" name="NumberOfRooms" min="1">
                            </div>
                        </div>
                        <div class="row my-3">

                            <div class="col-md-6">
                                <label for="" class="form-label">Start Date</label>
                                <input type="date" class="form-control" name="startDate">
                            </div>
                            <div class="col-md-6">
                                <label for="" class="form-label">End Date</label>
                                <input type="date" class="form-control" name="endDate">
                            </div>
                        </div>
                        <button type="submit" class="button-87  w-100 my-3"> Make Reservation
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="disabilityDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Disability/Special Needs Details</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'DisabilityDetails' reservation.No_ %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="myAction" value="modify">
                        <input type="hidden" name="disabled" value="True">
                        {% if reservation.Service_Requred == 'Meeting Room' %}
                        <input type="hidden" name="typeOfService" value="1">
                        {% elif reservation.Service_Requred == 'Accommodation' %}
                        <input type="hidden" name="typeOfService" value="2">
                        {% elif reservation.Service_Requred == 'Meeting Room And Accommodation' %}
                        <input type="hidden" name="typeOfService" value="3">
                        {% else %}
                        <input type="hidden" name="typeOfService" value="0">
                        {% endif %}
                        {% if reservation.Type_Of_Client == 'Private' %}
                        <input type="hidden" name="clientType" value="1">
                        {% elif reservation.Type_Of_Client == 'Public' %}
                        <input type="hidden" name="clientType" value="2">
                        {% else %}
                        <input type="hidden" name="clientType" value="3">
                        {% endif %}
                        <input type="hidden" value="{{reservation.Organization}}" name="organization">
                        {% if reservation.Mode_Of_Payment == 'LPO/LSO' %}
                        <input type="hidden" name="payment_method" value="1">
                        {% elif reservation.Mode_Of_Payment == 'Cheque' %}
                        <input type="hidden" name="payment_method" value="2">
                        {% elif reservation.Mode_Of_Payment == 'M-pesa' %}
                        <input type="hidden" name="payment_method" value="3">
                        {% else %}
                        <input type="hidden" name="payment_method" value="0">
                        {% endif %}

                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Disability/Special Needs Description</label>
                                <textarea class="form-control" name="explainDisability" rows="3"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="button-87  w-100 my-3"> Submit Details
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="allergyDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Allergy Details</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'AllergyDetails' reservation.No_ %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="myAction" value="modify">
                        <input type="hidden" name="disabled" value="{{reservation.Disability}}">
                        <input type="hidden" name="allergies" value="True">
                        <input type="hidden" name="explainDisability"
                            value="{{reservation.Disability_Special_Needs_Description}}">
                        {% if reservation.Service_Requred == 'Meeting Room' %}
                        <input type="hidden" name="typeOfService" value="1">
                        {% elif reservation.Service_Requred == 'Accommodation' %}
                        <input type="hidden" name="typeOfService" value="2">
                        {% elif reservation.Service_Requred == 'Meeting Room And Accommodation' %}
                        <input type="hidden" name="typeOfService" value="3">
                        {% else %}
                        <input type="hidden" name="typeOfService" value="0">
                        {% endif %}
                        {% if reservation.Type_Of_Client == 'Private' %}
                        <input type="hidden" name="clientType" value="1">
                        {% elif reservation.Type_Of_Client == 'Public' %}
                        <input type="hidden" name="clientType" value="2">
                        {% else %}
                        <input type="hidden" name="clientType" value="3">
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Allergy Description</label>
                                <textarea class="form-control" name="explainAllergies" rows="3"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="button-87  w-100 my-3"> Submit Details
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.semanticui.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.semanticui.min.js"></script>
<script>
    $(document).ready(function () {
        $('.example').DataTable();
        $(".Room_Booking_Total_Amount").empty().append(currency(
            '{{reservation.Room_Booking_Total_Amount}}', {
                separator: ','
            }).format());
        $(".Accomodation_Total_Amount").empty().append(currency(
            '{{reservation.Accomodation_Total_Amount}}', {
                separator: ','
            }).format());
        $(".Total_Amount_Payable").empty().append(currency(
            '{{total_payable}}', {
                separator: ','
            }).format());
    });
</script>
{% endblock %}