{% extends 'base.html' %}
{% load static %}
{% block base %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"
    integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    .my-handle {
        cursor: move;
        cursor: -webkit-grabbing;
    }

    #listWithHandle {
        padding-top: 5rem;
    }
</style>

<section class="dorne-welcome-area">
    <div class="container h-100 mb-5" id="listWithHandle">
        <div class="row">
            <div class="col-12">
                <div class="hero text-center">
                    <h5>It's time to</h5>
                    <h2>Discover</h2>
                    <h6 class="my-3">Find and book a great experience.</h6>
                </div>
            </div>
        </div>
        <div class="row h-100">
            <div class="col-md-12">
                <div class="hero-search-form">
                    <div class="nav nav-tabs my-handle" id="heroTab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-places-tab" data-toggle="tab" role="tab"
                            aria-controls="nav-places" aria-selected="true"> Start</a>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-places" role="tabpanel"
                            aria-labelledby="nav-places-tab">
                            {% include 'alerts.html' %}
                            <h6>Room Reservation</h6>
                            <form action="{% url 'dashboard' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="disabled" value="False">
                                <input type="hidden" name="explainDisability" value="None">
                                <input type="hidden" name="allergies" value="False">
                                <input type="hidden" name="explainAllergies" value="None">
                                <div class="row gx-2 my-3">
                                    <div class="col-md-6">
                                        <label for="" class="form-label">Client Type</label>
                                        <select class="form-select" name="clientType">
                                            <option selected disabled value="0">--Select Client Type--</option>
                                            <option value="1">Private</option>
                                            <option value="2">Public</option>
                                            <option value="3">Foreign</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="form-label">Type of Service</label>
                                        <select class="form-select" name="typeOfService" id="typeOfService"
                                            aria-label="Default select example">
                                            <option selected disabled value="0">--Select Type of Service--</option>
                                            <option value="1">Meeting Room</option>
                                            <option value="2">Accommodation</option>
                                            <option value="3">Meeting Room and Accommodation</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="btn button-87" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('#typeOfService').on('change', function (e) {
        e.preventDefault();
        var ItemCode = $("#typeOfService").val();
        if (ItemCode != null) {
            $("#regForm select[name='serviceRequired']").find('.after').nextAll().remove();
            $.ajax({
                type: 'get',
                url: '{% url "serviceRequired" %}',
                dataType: 'json',
                data: {
                    ItemCode: ItemCode
                },
                success: function (response) {
                    let options = '';
                    for (var i = 0; i < response.value.length; i++) {
                        if (response.value[i].Service_Requred_Code == ItemCode) {
                            options += '<option value=' + response.value[i]
                                .Code + '>' + response.value[i].ServiceDescription +
                                '</option>';

                        }
                    }
                    $("#regForm select[name='serviceRequired']").find('.after')
                        .after(
                            options);

                },
                error: function (response) {
                    console.log('Something went wrong');
                }
            });
        } else {
            $("#regForm select[name='serviceRequired']").find('.after').nextAll().remove();
        }
        if (ItemCode === '1') {
            $('#roomTypeRow').show(1000)
            $('#roomType').prop('disabled', false);
        } else {
            $('#roomType').prop('disabled', true);
            $('#roomTypeRow').hide(1000)
        }
    });
</script>

{% endblock %}