{% extends 'base.html' %}
{% load static %}
{% block base %}
<script src="../../static/js/currency.js"></script>
<div class="container-fluid height-700 bg-img bg-overlay"
    style="background-image: url(../../static/img/bg-img/meeting-1177454_1920.jpg);">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>
<section class="section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 card-wrapper">
                <div class="single-listing-content">
                    {% include 'alerts.html' %}
                    <div class="listing-title">
                        <h4>
                            <span>
                                {% if typeOfService == "1" %}
                                Meeting Room
                                {% elif typeOfService == "2" %}
                                Accommodation
                                {% else %}
                                Meeting Room and Accommodation
                                {% endif %}
                            </span>
                            Reservation
                        </h4>
                        <h6>
                            <span class="text-success"> Client Type:</span>
                            {% if clientType == "1" %}
                            Private
                            {% elif clientType == '2' %}
                            Public
                            {% elif clientType == '3' %}
                            Foreign
                            {% endif %}
                        </h6>
                    </div>
                    <div class="row">
                        <div class="col-md-12 hero-search-form">
                            <form id="ListingDetail" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6" id="TypeOfRoomCol">
                                        <label for="" class="form-label">Type of Room</label>
                                        <select class="form-select" name="TypeOfRoom" id="TypeOfRoom"
                                            aria-label="Default select example" disabled>
                                            <option selected disabled value="0">--Select Type of Room--</option>
                                            {% for room in availableRooms %}
                                            <option value="{{room.Code}}">{{room.RoomName}}
                                                (Capacity-{{room.RoomCapacity}})
                                            </option>
                                            {% empty %}
                                            <option value="0">There are no available rooms</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="form-label">Service Required</label>
                                        <select class="form-select" aria-label="Default select example"
                                            name="ServiceRequired" id="ServiceRequired">
                                            <option selected disabled value="0">--Select Service Required--</option>
                                            {% for service in serviceOutput %}
                                            <option value="{{service.Code}}">"{{service.ServiceDescription}}"</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-md-6" id="TypeOfAccommodationCol" style="display: none">
                                        <label for="" class="form-label">Type of Accommodation</label>
                                        <select class="form-select" aria-label="Default select example"
                                            name="TypeOfAccommodation" id="TypeOfAccommodation" disabled>
                                            <option selected disabled value="0">--Single Room--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row my-3">
                                    <div class="col-md-4">
                                        <label for="" class="form-label">Number of People</label>
                                        <input type="number" class="form-control" name="NumberOfPeople"
                                            id="NumberOfPeople" min="1">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="form-label">Start Date</label>
                                        <input type="date" class="form-control" name="startDate" id="startDate">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="form-label">End Date</label>
                                        <input type="date" class="form-control" name="endDate" id="endDate" disabled>
                                    </div>
                                </div>
                                <div class="row my-3" style="display: none;" id="timeRow">
                                    <div class="col-md-6">
                                        <label for="" class="form-label">Start Time</label>
                                        <input type="time" class="form-control" name="startTime" id="startTime"
                                            disabled>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="form-label">End Time</label>
                                        <input type="time" class="form-control" name="endTime" id="endTime" disabled>
                                    </div>
                                </div>
                                <div class="money-spinner mx-auto text-center" id="money-spinner1"
                                    style="display: none;">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif"
                                        alt="Loading Gif" style="height: 100px;" class="img-fluid">
                                </div>
                                <button type="submit" class="button-87  w-100 my-3">Add Booking Line
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="single-listing-nav">
                        <nav>
                            <ul id="listingNav">
                                <li class="active"><a href="#overview"><span id="roomCodeOutput"></span> Overview</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="mt-50" id="detailHide">
                        <div class="row">
                            <div class="col-md-12">
                                <article>
                                    <h1>Select Room to View Details</h1>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="overview-content mt-50" id="overview" style="display: none;">
                        <p id="DescriptionOutput"></p>
                        <div class="row">
                            <h6 class="mt-3 text-success">Features & Amenities</h6>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <i class="las la-angle-right"></i>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Capacity</span><span
                                        class="mx-1 text-primary" id="CapacityOutput"></span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <i class="las la-angle-right"></i>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Bike Parking</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <i class="las la-angle-right"></i>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Wireless Internet</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <i class="las la-angle-right"></i>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Reservations</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <i class="las la-angle-right"></i>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Private Parking</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <i class="las la-angle-right"></i>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Maximum of 20 Guests</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="opening-hours-widget mt-30 card-wrapper" id="paymentPanel">
                    <h6>Payments</h6>
                    <ul class="opening-hours">
                        {% if typeOfService == "3" or typeOfService == '1'  %}
                        <li>
                            <p>Room Charges</p>
                            <p class="text-dark"><span class="ChargeAmount" id="ChargeAmount">KES ---.--</span></p>
                        </li>
                        {% endif %}
                        <li>
                            <p>Service Charges</p>
                            <p class="text-dark">
                                {% if clientType == 3 %}
                                <span class="Non_Resident_Amount" id="Non_Resident_Amount">KES ---.--</span>
                                {% else %}
                                <span class="serviceCharges" id="serviceCharges">KES ---.--</span>
                                {% endif %}
                            </p>
                        </li>
                        <li>
                            <p>Total Amount</p>
                            <p class="text-dark"><span id="TotalOutput">KES ---.--</span></p>
                        </li>
                    </ul>
                    <div class="money-spinner mx-auto text-center" id="money-spinner" style="display: none">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif"
                            alt="Loading Gif" style="height: 100px;" class="img-fluid">
                    </div>
                </div>
                <div class="book-a-table-widget mt-0">
                    <h6>Actions</h6>
                    <form action="{% url 'makeReservation' typeOfService %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button-87  w-100 my-3">Make Reservation </button>
                    </form>

                </div>
                <button type="button" class="button-5  w-100 my-3" data-bs-toggle="modal"
                    data-bs-target="#cancelModal">Back
                    Home <i class="las la-undo-alt mx-2" style="font-size:1.5rem"></i></button>
            </div>
        </div>
        <!-- <div class="col-md-12 my-3">
            <div class="card card-body data-card">
                <h1 class="heading display-5 pb-3">Booking Details</h1>
                <div class="row">
                    <div class="col-md-12">
                        <table id="example" class="ui celled table responsive nowrap unstackable" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Client Type</th>
                                    <th>No. Of People</th>
                                    <th>Type Of Service</th>
                                    <th>Service Required</th>
                                    <th>Room Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>No. Of Adults</th>
                                    <th>No. Of Children</th>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>
                                        {% if clientType == "1" %}
                                        Private
                                        {% else %}
                                        Public
                                        {% endif %}
                                    </td>
                                    <td> {{numberOfPeople}}</td>
                                    <td>
                                        {% if typeOfService == "1" %}
                                        Meeting Room
                                        {% elif typeOfService == "2" %}
                                        Accommodation
                                        {% else %}
                                        Meeting Room and Accommodation
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if serviceRequired == "1" %}
                                        Bed and Breakfast
                                        {% else %}
                                        Other
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if roomType == "1" %}
                                        Single
                                        {% elif roomType == "2" %}
                                        Double
                                        {% else %}
                                        Triple
                                        {% endif %}
                                    </td>
                                    <td> {{startDate}}</td>
                                    <td> {{endDate}}</td>
                                    <td> {{numberOfAdults}}</td>
                                    <td> {{numberOfChildren}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- Modals -->
    <div class="modal fade" id="cancelModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white">Cancel Process <i
                            class="las la-exclamation-circle text-danger"></i></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want to cancel process? All your data will be <span class="text-danger">Deleted</span>!

                    <button type="button" class="btn button-0 my-3" data-bs-dismiss="modal"
                        style="display: inline-block">Discard <i class="las la-window-close mx-2"
                            style="font-size:1.5rem"></i></button>
                    <form action="{% url 'CancelReservation' %}" method="post" style="display: inline-block">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary my-3 button-5">Confirm <i
                                class="las la-trash-alt mx-2" style="font-size:1.5rem"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.semanticui.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.semanticui.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
        $('#TypeOfRoom').on('change', function (e) {
            e.preventDefault();
            $('#money-spinner').show();
            var RoomCode = $("#TypeOfRoom").val();
            if (RoomCode != null) {
                $.ajax({
                    type: 'get',
                    url: '{% url "availableRoom" %}',
                    dataType: 'json',
                    data: {
                        RoomCode: RoomCode
                    },
                    success: function (response) {
                        for (var i = 0; i < response.value.length; i++) {
                            if (response.value[i].Code == RoomCode) {
                                $("#roomCodeOutput").empty().append(response.value[i].Code);
                                $("#DescriptionOutput").empty().append(response.value[i]
                                    .ServiceDescription);
                                $("#CapacityOutput").empty().append(response.value[i]
                                    .RoomCapacity);
                                $(".ChargeAmount").empty().append(currency(response.value[i]
                                    .AmountPayable, {
                                        separator: ','
                                    }).format());
                                $('#detailHide').hide();
                                $('#overview').show(1000);
                                $('#money-spinner').hide();
                            }
                        }
                    },
                    error: function (response) {
                        console.log('Something went wrong');
                    }
                });
            } else {
                $("#regForm select[name='serviceRequired']").find('.after').nextAll().remove();
            }
        });
        $('#ServiceRequired').on('change', function (e) {
            e.preventDefault();
            $('#money-spinner').show();
            var serviceCode = $("#ServiceRequired").val();
            if (serviceCode != null) {
                $.ajax({
                    type: 'get',
                    url: '{% url "serviceRequired" %}',
                    dataType: 'json',
                    data: {
                        serviceCode: serviceCode
                    },
                    success: function (response) {
                        for (var i = 0; i < response.value.length; i++) {
                            if (response.value[i].Code == serviceCode) {
                                $("#serviceCharges").empty().append(currency(response.value[
                                    i].ChargeAmount, {
                                    separator: ','
                                }).format());
                                $("#Non_Resident_Amount").empty().append(currency(response
                                    .value[i].Non_Resident_Amount, {
                                        separator: ','
                                    }).format());
                                $('#money-spinner').hide();
                            }
                        }
                    },
                    error: function (response) {
                        console.log('Something went wrong');
                    }
                });
            } else {}
        });

        $(document).on('submit', '#ListingDetail', function (e) {
            e.preventDefault();
            $('#money-spinner1').show();
            $('#money-spinner').show();
            $.ajax({
                type: 'POST',
                url: '{% url "ListingDetail" typeOfService  %}',
                data: {
                    TypeOfRoom: $("#TypeOfRoom").val(),
                    ServiceRequired: $("#ServiceRequired").val(),
                    TypeOfAccommodation: $("#TypeOfAccommodation").val(),
                    NumberOfPeople: $("#NumberOfPeople").val(),
                    startDate: $("#startDate").val(),
                    endDate: $("#startDate").val(),
                    startTime: $('#startTime').val(),
                    endTime: $('#startTime').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (response) {
                    $("#TypeOfRoom").val("");
                    $("#ServiceRequired").val("");
                    $("#TypeOfAccommodation").val("");
                    $("#NumberOfPeople").val("");
                    $("#startDate").val("");
                    $("#endDate").val("");
                    $("#startTime").val("");
                    $("#endTime").val("");
                    $("#TotalOutput").empty().append(currency(response, {
                        separator: ','
                    }).format());
                    $('#money-spinner1').hide();
                    $('#money-spinner').hide();
                }
            })

        });

        var typeOfService = '{{typeOfService}}'
        if (typeOfService == '1' || typeOfService == '3') {
            $('#TypeOfRoomCol').show(500);
            $('#timeRow').show(1000);
            $('#TypeOfRoom').prop('disabled', false);
            $('#startTime').prop('disabled', false);
            $('#endTime').prop('disabled', false);
            $('#endDate').prop('disabled', true);
            $('#TypeOfAccommodationCol').hide();
            $('#TypeOfAccommodation').prop('disabled', true);

        } else {
            $('#TypeOfRoomCol').hide();
            $('#timeRow').hide();
            $('#TypeOfRoom').prop('disabled', true);
            $('#startTime').prop('disabled', true);
            $('#startTime').prop('disabled', true);
            $('#endDate').prop('disabled', false);
            $('#TypeOfAccommodationCol').show(500);
            $('#TypeOfAccommodation').prop('disabled', true);
        }
    });
</script>
{% endblock %}