{% extends 'base.html' %}
{% load static %}
{% block base %}
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="../../static/js/currency.js"></script>
<section class="bg-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</section>
<section class="section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 card-wrapper">
                <div class="single-listing-content">
                    {% include 'alerts.html' %}
                    <div class="listing-title">
                        <h4>
                            <span>
                                {% if typeOfService == "1" %}
                                Meeting Room
                                {% elif typeOfService == "2" %}
                                Accommodation
                                {% else %}
                                Meeting Room and Accommodation
                                {% endif %}
                            </span>
                            Reservation
                        </h4>
                        <h6>
                            <span class="text-success"> Client Type:</span>
                            {% if clientType == "1" %}
                            Private
                            {% elif clientType == '2' %}
                            Public
                            {% elif clientType == '3' %}
                            Foreign
                            {% endif %}
                        </h6>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="accordion" class="accordion-style">
                                <div class="card mb-3">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="false"
                                                aria-controls="collapseOne">
                                                Modify Booking Request
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                        data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form action="{% url 'dashboard' %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="row gx-2 my-3">
                                                            <div class="col-md-6">
                                                                <label for="" class="form-label">Client Type</label>
                                                                <select class="form-select" name="clientType">
                                                                    <option selected value="{{clientType}}">
                                                                        {% if clientType == "1" %}
                                                                        Private
                                                                        {% elif clientType == '2' %}
                                                                        Public
                                                                        {% elif clientType == '3' %}
                                                                        Foreign
                                                                        {% endif %}</option>
                                                                    <option value="1">Private</option>
                                                                    <option value="2">Public</option>
                                                                    <option value="3">Foreign</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="" class="form-label">Type of
                                                                    Service</label>
                                                                <select class="form-select" name="typeOfService"
                                                                    id="typeOfService"
                                                                    aria-label="Default select example">
                                                                    <option selected value="{{typeOfService}}">
                                                                        {% if typeOfService == "1" %}
                                                                        Meeting Room
                                                                        {% elif typeOfService == "2" %}
                                                                        Accommodation
                                                                        {% elif typeOfService == "3" %}
                                                                        Meeting Room and Accommodation
                                                                        {% endif %}
                                                                    </option>
                                                                    <option value="1">Meeting Room</option>
                                                                    <option value="2">Accommodation</option>
                                                                    <option value="3">Meeting Room and Accommodation
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <button class="btn button-87" type="submit">Modify</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if typeOfService == "1" %}
                                {% include 'meetingForm.html' %}
                                {% elif typeOfService == "2" %}
                                {% include 'accomForm.html' %}
                                {% elif typeOfService == "3" %}
                                {% include 'meetingForm.html' %}
                                {% include 'accomForm.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="opening-hours-widget mt-30 card-wrapper" id="paymentPanel">
                    <h6>Payments</h6>
                    <ul class="opening-hours">
                        {% if typeOfService == '1'  %}
                        <li>
                            <p>Meeting Room Charges</p>
                            <p class="text-dark"><span class="ChargeAmount" id="ChargeAmount">KES ---.--</span></p>
                        </li>
                        <li>
                            <p>Meeting Room Service Fees</p>
                            <p class="text-dark">
                                {% if clientType == 3 %}
                                <span class="Non_Resident_Amount" id="Non_Resident_Amount">KES ---.--</span>
                                {% else %}
                                <span class="serviceCharges" id="serviceCharges">KES ---.--</span>
                                {% endif %}
                            </p>
                        </li>
                        <li>
                            <p>Total Amount</p>
                            <p class="text-dark"><span class="meetingTotal">KES ---.--</span></p>
                        </li>
                        {% elif typeOfService == '2' %}
                        <li>
                            <p>Accomodation Service Fees</p>
                            <p class="text-dark">
                                {% if clientType == 3 %}
                                <span class="accom_Non_Resident_Amount" id="Non_Resident_Amount">KES ---.--</span>
                                {% else %}
                                <span class="accom_serviceCharges" id="serviceCharges">KES ---.--</span>
                                {% endif %}
                            </p>
                        </li>
                        <li>
                            <p>Total Amount</p>
                            <p class="text-dark"><span class="accomTotal">KES ---.--</span></p>
                        </li>
                        {% elif typeOfService == '3' %}
                        <li>
                            <p>Meeting Room Charges</p>
                            <p class="text-dark"><span class="ChargeAmount" id="ChargeAmount">KES ---.--</span></p>
                        </li>
                        <li>
                            <p>Meeting Room Service Fees</p>
                            <p class="text-dark">
                                {% if clientType == 3 %}
                                <span class="Non_Resident_Amount" id="Non_Resident_Amount">KES ---.--</span>
                                {% else %}
                                <span class="serviceCharges" id="serviceCharges">KES ---.--</span>
                                {% endif %}
                            </p>
                        </li>
                        <li>
                            <p>Total Meeting Room Fee</p>
                            <p class="text-dark"><span class="meetingTotal">KES ---.--</span></p>
                        </li>
                        <li>
                            <p>Accomodation Service Fees</p>
                            <p class="text-dark">
                                {% if clientType == 3 %}
                                <span class="accom_Non_Resident_Amount" id="Non_Resident_Amount">KES ---.--</span>
                                {% else %}
                                <span class="accom_serviceCharges" id="serviceCharges">KES ---.--</span>
                                {% endif %}
                            </p>
                        </li>
                        <li>
                            <p>Total Accomodation Fee</p>
                            <p class="text-dark"><span class="accomTotal">KES ---.--</span></p>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="money-spinner mx-auto text-center" id="money-spinner" style="display: none">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif"
                            alt="Loading Gif" style="height: 100px;" class="img-fluid">
                    </div>
                </div>
                <div class="book-a-table-widget mt-0">
                    <h6>Actions</h6>
                    <form action="{% url 'makeReservation' typeOfService %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button-87  w-100 my-3">Make Reservation </button>
                    </form>

                </div>
                <button type="button" class="button-5  w-100 my-3" data-bs-toggle="modal"
                    data-bs-target="#cancelModal">Back
                    Home <i class="las la-undo-alt mx-2" style="font-size:1.5rem"></i></button>
                <div class="alert alert-primary alert-dismissible fade show" id="listingAlert" role="alert">
                    <h4 class="alert-heading">Added Successfully</h4>
                    New entries will modify the existing entry.
                    <hr>
                    <p class="mb-0 text-dark">More entries can be
                        added/modified on login.
                    </p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modals -->
    <div class="modal fade" id="cancelModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white">Cancel Process <i
                            class="las la-exclamation-circle text-danger"></i></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want to cancel process? All your data will be <span class="text-danger">Deleted</span>!

                    <button type="button" class="btn  button-0 my-3" data-bs-dismiss="modal"
                        style="display: inline-block">Discard <i class="las la-window-close mx-2"
                            style="font-size:1.5rem"></i></button>
                    <form action="{% url 'CancelReservation' typeOfService %}" method="post"
                        style="display: inline-block">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger my-3 button-5">Confirm <i
                                class="las la-trash-alt mx-2" style="font-size:1.5rem"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
        $('#TypeOfRoom').on('change', function (e) {
            e.preventDefault();
            $('#money-spinner').show();
            var RoomCode = $("#TypeOfRoom").val();
            if (RoomCode != null) {
                $.ajax({
                    type: 'get',
                    url: '{% url "availableRoom" %}',
                    dataType: 'json',
                    data: {
                        RoomCode: RoomCode
                    },
                    success: function (response) {
                        for (var i = 0; i < response.value.length; i++) {
                            if (response.value[i].Code == RoomCode) {
                                $("#roomCodeOutput").empty().append(response.value[i].Code);
                                $(".ChargeAmount").empty().append(currency(response.value[i]
                                    .AmountPayable, {
                                        separator: ','
                                    }).format());
                                $('#money-spinner').hide();
                            }
                        }
                    },
                    error: function (response) {
                        console.log('Something went wrong');
                    }
                });
            } else {
                $("#regForm select[name='serviceRequired']").find('.after').nextAll().remove();
            }
        });
        $('#ServiceRequired').on('change', function (e) {
            e.preventDefault();
            $('#money-spinner').show();
            var serviceCode = $("#ServiceRequired").val();
            if (serviceCode != null) {
                $.ajax({
                    type: 'get',
                    url: '{% url "serviceRequired" %}',
                    dataType: 'json',
                    data: {
                        serviceCode: serviceCode
                    },
                    success: function (response) {
                        for (var i = 0; i < response.value.length; i++) {
                            if (response.value[i].Code == serviceCode) {
                                $(".serviceCharges").empty().append(currency(response.value[
                                    i].ChargeAmount, {
                                    separator: ','
                                }).format());
                                $(".Non_Resident_Amount").empty().append(currency(response
                                    .value[i].Non_Resident_Amount, {
                                        separator: ','
                                    }).format());
                                $('#money-spinner').hide();
                            }
                        }
                    },
                    error: function (response) {
                        console.log('Something went wrong');
                    }
                });
            } else {}
        });

        $(document).on('submit', '#ListingDetail', function (e) {
            e.preventDefault();
            $('#money-spinner1').show();
            $('#money-spinner').show();
            $('#listingAlert').hide();
            $.ajax({
                type: 'POST',
                url: '{% url "ListingDetail" typeOfService  %}',
                data: {
                    TypeOfRoom: $("#TypeOfRoom").val(),
                    ServiceRequired: $("#ServiceRequired").val(),
                    TypeOfAccommodation: $("#TypeOfAccommodation").val(),
                    NumberOfPeople: $("#NumberOfPeople").val(),
                    startDate: $("#startDate").val(),
                    endDate: $("#startDate").val(),
                    startTime: $('#startTime').val(),
                    endTime: $('#startTime').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (response) {
                    $("#TypeOfRoom").val("");
                    $("#ServiceRequired").val("");
                    $("#TypeOfAccommodation").val("");
                    $("#NumberOfPeople").val("");
                    $("#startDate").val("");
                    $("#endDate").val("");
                    $("#startTime").val("");
                    $("#endTime").val("");
                    $(".meetingTotal").empty().append(currency(response, {
                        separator: ','
                    }).format());
                    $('#money-spinner1').hide();
                    $('#money-spinner').hide();
                    $('#listingAlert').show(1000);
                }
            })

        });
        $('#accom_ServiceRequired').on('change', function (e) {
            e.preventDefault();
            $('#money-spinner').show();
            var serviceCode = $("#accom_ServiceRequired").val();
            if (serviceCode != null) {
                $.ajax({
                    type: 'get',
                    url: '{% url "serviceRequired" %}',
                    dataType: 'json',
                    data: {
                        serviceCode: serviceCode
                    },
                    success: function (response) {
                        for (var i = 0; i < response.value.length; i++) {
                            if (response.value[i].Code == serviceCode) {
                                $(".accom_serviceCharges").empty().append(currency(response
                                    .value[
                                        i].ChargeAmount, {
                                        separator: ','
                                    }).format());
                                $(".accom_Non_Resident_Amount").empty().append(currency(
                                    response
                                    .value[i].Non_Resident_Amount, {
                                        separator: ','
                                    }).format());
                                $('#money-spinner').hide();
                            }
                        }
                    },
                    error: function (response) {
                        console.log('Something went wrong');
                    }
                });
            } else {}
        });
        $(document).on('submit', '#AccomodationForm', function (e) {
            e.preventDefault();
            $('#money-spinner_accom').show();
            $('#money-spinner').show();
            $('#listingAlert').hide();
            $.ajax({
                type: 'POST',
                url: '{% url "AccomodationForm" typeOfService  %}',
                data: {
                    ServiceRequired: $("#accom_ServiceRequired").val(),
                    NumberOfPeople: $("#NumberOfRooms").val(),
                    startDate: $("#accom_startDate").val(),
                    endDate: $("#accom_startDate").val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (response) {
                    $("#accom_ServiceRequired").val("");
                    $("#NumberOfRooms").val("");
                    $("#accom_startDate").val("");
                    $("#accom_startDate").val("");

                    $(".accomTotal").empty().append(currency(response, {
                        separator: ','
                    }).format());
                    $('#money-spinner_accom').hide();
                    $('#money-spinner').hide();
                    $('#listingAlert').show(1000);
                }
            })

        });
    });
</script>
{% endblock %}